.toolbar__spacer {
    flex: 1 1 auto;
}
.toolbar {
  background-color: rgb(13, 44, 83);
  height: 60px;
  padding: 0px;
}

::ng-deep .toolbar__menu {
  width: 240px;
}

.toolbar__menu-item {
  font-size: medium;
}

.toolbar__img {
  height: 60px;
  width: auto;
}

.toolbar__btn {
  width: 56px;
  height: 56px;
  background-color: rgb(13, 44, 83);
  padding: 4px;
  border-width: 0px;
  margin-left: 12px;
}

.toolbar__btn-icon {
  color: white;
}