.container {
    display: flex;
    flex-direction: column;
}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4rem 9rem 0 9rem;
}

.layout__title {
    font-size: xx-large;
    margin: 1.5rem 0 0 0;
    width: 10rem;
}

.layout__slider {
    width: 20rem;
    margin-top: 0.5rem;
}

.layout__button {
    width: 64px;
    height: 64px;
    background-color: rgb(230, 230, 230);
    border-color: rgb(13, 44, 83);
    border-radius: 40px;
    border-width: 3px;
}

.layout__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 9rem;
}