<div class="container">
  <app-header></app-header>
  <div class="layout">
    <p class="layout__title">BubbleSort</p>
    <div class="layout__container">
      <button mat-icon-button class="layout__button">
        <mat-icon class="layout__button-icon">play_arrow</mat-icon>
      </button>
      <button mat-icon-button class="layout__button">
        <mat-icon class="layout__button-icon">shuffle</mat-icon>
      </button>
    </div>
    <mat-slider step="50" tickInterval="1" class="layout__slider"></mat-slider>
  </div>
</div>
